<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIHVNG6VTZRYA2ALQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
</configuration>
